@charset "UTF-8";
@font-face {
  font-family: 'iconfont';
  /* project id 220853 */
  src: url("//at.alicdn.com/t/font_r1fvipxbso6crf6r.eot");
  src: url("//at.alicdn.com/t/font_r1fvipxbso6crf6r.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_r1fvipxbso6crf6r.woff") format("woff"), url("//at.alicdn.com/t/font_r1fvipxbso6crf6r.ttf") format("truetype"), url("//at.alicdn.com/t/font_r1fvipxbso6crf6r.svg#iconfont") format("svg");
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 100px;
    border-top: 1px solid rgba(0,0,0,.1);
    text-align: center;
    font-size: 12px;
    color: rgba(0,0,0,.3);
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

a,
select {
  cursor: pointer;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

.btn.loading {
  cursor: auto;
}

.btn.loading .iconfont {
  -webkit-animation: loadingRotate .6s infinite;
          animation: loadingRotate .6s infinite;
}

.btn.success {
  cursor: auto;
}

.btn.success .iconfont {
  opacity: 0;
  -webkit-animation: loadingSuccess .8s .3s forwards;
          animation: loadingSuccess .8s .3s forwards;
}

.text-center th {
  text-align: center;
}

.ui-autoComplate {
  background: #fff;
  border: 1px solid #eee;
  display: none;
  position: absolute;
}

.ui-autoComplate a {
  display: block;
  padding-left: 5px;
  line-height: 2em;
  height: 2em;
  text-decoration: none;
}

/*.ui-autoComplate a:hover,*/
.ui-autoComplate a.hover {
  background-color: #4caf50;
  color: #fff;
}

@media (min-width: 768px) {
  .sidebar {
    z-index: 1;
    position: absolute;
    width: 180px;
    margin-top: 50px;
  }
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 180px;
    padding: 50px 30px 0;
    border-left: 1px solid #e7e7e7;
  }
}

/*
 * 瀑布流首屏加载过程
 */
@-webkit-keyframes loading_rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes loading_rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loadingRotate {
  0% {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
  100% {
    -webkit-transform: rotate(320deg);
            transform: rotate(320deg);
  }
}

@keyframes loadingRotate {
  0% {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
  100% {
    -webkit-transform: rotate(320deg);
            transform: rotate(320deg);
  }
}

@-webkit-keyframes loadingSuccess {
  0%, 90% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: .3;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes loadingSuccess {
  0%, 90% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: .3;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

/*
 * 初次加载移动残影问题
 */
@-webkit-keyframes itemShow {
  0%, 90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
  }
}
@keyframes itemShow {
  0%, 90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
  }
}

@-webkit-keyframes showAll {
  99% {
    overflow: hidden;
  }
  100% {
    overflow: auto;
  }
}

@keyframes showAll {
  99% {
    overflow: hidden;
  }
  100% {
    overflow: auto;
  }
}

@keyframes showAll {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes folder-up {
  0% {
    -webkit-transform: translate3d(0, 54px, 0);
            transform: translate3d(0, 54px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes folder-up {
  0% {
    -webkit-transform: translate3d(0, 54px, 0);
            transform: translate3d(0, 54px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes bloggerImgTop {
  0% {
    top: 10px;
    height: 0;
  }
  100% {
    top: -290px;
    height: 300px;
  }
}

@keyframes bloggerImgTop {
  0% {
    top: 10px;
    height: 0;
  }
  100% {
    top: -290px;
    height: 300px;
  }
}

@-webkit-keyframes bloggerImgBottom {
  0% {
    height: 0;
  }
  100% {
    height: 300px;
  }
}

@keyframes bloggerImgBottom {
  0% {
    height: 0;
  }
  100% {
    height: 300px;
  }
}

@-webkit-keyframes bloggerImgShow {
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 280px;
  }
}

@keyframes bloggerImgShow {
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 280px;
  }
}

@-webkit-keyframes loadingC {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes loadingC {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.review-panel .img-panel {
  position: relative;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  overflow: hidden;
}

.review-panel .img-panel.remove:after {
  content: '未通过';
  position: absolute;
  right: -16px;
  top: 8px;
  width: 70px;
  text-align: center;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #ec971f;
}

.review-panel .img-area {
  position: relative;
}

.review-panel .img-area img {
  width: 100%;
}

.review-panel .img-area .img-label {
  position: absolute;
  border: 2px solid transparent;
}

.review-panel .img-footer {
  position: relative;
  padding: 5px;
  min-height: 45px;
}

.review-panel .img-footer .label-color-tip {
  background: #f10000;
}

.review-panel .img-footer .label-color-tip,
.review-panel .img-footer .tag-color-tip {
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align: text-bottom;
}

.review-panel .img-footer .fail-pane {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px;
}

.review-panel .img-footer .btn-fail {
  width: 20px;
  height: 20px;
  padding: 0;
}

.review-panel .img-footer .btn-fail.btn-default i {
  display: none;
}

.review-panel .img-footer .btn-unshift {
  position: absolute;
  right: 5px;
  top: 35px;
}

.review-panel .btn-next-data {
  margin-bottom: 30px;
}

.review-panel .footer-btn-list .col-md-12 {
  display: none;
}

.review-panel .footer-btn-list.no-audit .col-md-6 {
  display: none;
}

.review-panel .footer-btn-list.no-audit .col-md-12 {
  display: block;
}

.review-panel .btn-query,
.count-panel .btn-query {
  margin-top: 25px;
}

.btn-date {
  margin-top: 25px;
}

.verify-list-panel .avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.verify-list-panel #btn-add-blogger {
  cursor: pointer;
  display: inline-block;
  padding: 0 15px;
}

.verify-list-panel #blogger-content {
  font-size: 12px;
}

.verify-list-panel #blogger-content img {
  width: 100%;
}

.blog-verify-panel .btn-query {
  margin-top: 25px;
}

.blog-verify-panel .img-panel {
  position: relative;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  overflow: hidden;
}

.blog-verify-panel .img-area {
  position: relative;
}

.blog-verify-panel .img-area img {
  width: 100%;
}

.blog-verify-panel .img-area .img-label {
  position: absolute;
  border: 2px solid transparent;
}

.blog-verify-panel .img-footer {
  position: relative;
  padding: 5px;
}

.blog-verify-panel .img-footer .btn-blog-operate {
  cursor: pointer;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.platform-panel h2, .platform-panel h4 {
  color: #a0a0a0;
}

.platform-panel .panel-heading {
  font-size: 20px;
}

.platform-panel .panel-heading span {
  font-size: 14px;
}

.platform-panel .panel-body {
  text-align: right;
  padding: 20px 15px;
}

.style-btn-list label,
.content-btn-list label {
  cursor: pointer;
  margin-right: 10px;
}

.style-btn-list label input,
.content-btn-list label input {
  margin-right: 5px;
}

table tr td a {
  text-decoration: none;
}

table tr td .iconfont {
  display: none;
  cursor: pointer;
}

table tr td .sure {
  display: none;
}

table tr td .edit {
  display: inline-block;
}

.tabSelect .selected {
  background: #3b983b;
}

.tabSelect ul li {
  padding-bottom: 5px;
}

.tabSelect #myTabContent div {
  display: none;
}

.tabSelect #myTabContent .active {
  display: block;
}

/*添加选中样式*/
table tr.editTag td a, table tr.editTag td a:hover {
  text-decoration: none;
}

table tr.editTag td .iconfont {
  display: inline-block;
}

table tr.editTag td .sure {
  display: inline-block;
}

table tr.editTag td .edit {
  display: none;
}

.linkWrapper {
  position: relative;
}

.linkWrapper a {
  cursor: pointer;
}

.linkWrapper .linkItem {
  position: absolute;
  cursor: pointer;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.linkWrapper img {
  width: 100%;
  height: 100%;
}

.img-responsive {
  display: inline-block;
  width: 70px;
  height: 70px;
}

.table tbody tr td {
  vertical-align: middle;
}

.testBtn {
  font-size: 10px;
}

.manageAdd .add {
  display: inline-block;
}

.manageAdd .deleteBtn {
  display: none;
}

.manageDelete .add {
  display: none;
}

.manageDelete .deleteBtn {
  display: inline-block;
}

.manageDelete .moveFir {
  display: none;
}

.manageDelete .moveLast {
  display: none;
}

.type-nav .selected {
  background-color: #204d74;
}

.type-nav button {
  margin-right: 5px;
}

.content {
  display: none;
}

.prevWrapper li {
  padding-bottom: 10px;
}

.recommend-list-panel #page-contnent {
  width: 100%;
  margin: 0;
  padding: 5px;
  border: 0;
}

.recommend-list-panel .img-item {
  position: relative;
  margin-bottom: 20px;
}

.recommend-list-panel .img-item img {
  width: 100%;
}

.recommend-list-panel .img-item ul {
  max-height: 300px;
  overflow-y: scroll;
}

.recommend-list-panel .img-item.original-img:after {
  content: '原图';
  position: absolute;
  right: -16px;
  top: 8px;
  width: 70px;
  text-align: center;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #ec971f;
}

tbody tr td .sureButton {
  display: none;
}

tbody .fixMode td .fixButton {
  display: none;
}

tbody .fixMode td .sureButton {
  display: inline-block;
}

tbody .fixMode td i.iconfont {
  display: inline-block;
}

.users-list-panel [class^="ant-col-"] .ant-btn {
  margin-right: 10px;
}

.modal-article .picture-uploader,
.modal-article .ant-upload-select-picture-card {
  width: 150px;
  height: 150px;
}

.modal-article .picture {
  width: 100%;
}

.modal-article .picture-uploader {
  position: relative;
  display: block;
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
}

.modal-article .picture,
.modal-article .picture-uploader-trigger {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 28px;
  color: #999;
}

.m-0 {
  margin: 0 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.mx-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.m-1 {
  margin: 0.25rem 0.25rem !important;
}

.mt-1 {
  margin-top: 0.25rem !important;
}

.mr-1 {
  margin-right: 0.25rem !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.ml-1 {
  margin-left: 0.25rem !important;
}

.mx-1 {
  margin-right: 0.25rem !important;
  margin-left: 0.25rem !important;
}

.my-1 {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem 0.5rem !important;
}

.mt-2 {
  margin-top: 0.5rem !important;
}

.mr-2 {
  margin-right: 0.5rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.ml-2 {
  margin-left: 0.5rem !important;
}

.mx-2 {
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}

.my-2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.m-3 {
  margin: 1rem 1rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mr-3 {
  margin-right: 1rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.ml-3 {
  margin-left: 1rem !important;
}

.mx-3 {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}

.my-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.m-4 {
  margin: 1.5rem 1.5rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mr-4 {
  margin-right: 1.5rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.ml-4 {
  margin-left: 1.5rem !important;
}

.mx-4 {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important;
}

.my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.m-5 {
  margin: 3rem 3rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.mr-5 {
  margin-right: 3rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.ml-5 {
  margin-left: 3rem !important;
}

.mx-5 {
  margin-right: 3rem !important;
  margin-left: 3rem !important;
}

.my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.p-0 {
  padding: 0 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.px-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.p-1 {
  padding: 0.25rem 0.25rem !important;
}

.pt-1 {
  padding-top: 0.25rem !important;
}

.pr-1 {
  padding-right: 0.25rem !important;
}

.pb-1 {
  padding-bottom: 0.25rem !important;
}

.pl-1 {
  padding-left: 0.25rem !important;
}

.px-1 {
  padding-right: 0.25rem !important;
  padding-left: 0.25rem !important;
}

.py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem 0.5rem !important;
}

.pt-2 {
  padding-top: 0.5rem !important;
}

.pr-2 {
  padding-right: 0.5rem !important;
}

.pb-2 {
  padding-bottom: 0.5rem !important;
}

.pl-2 {
  padding-left: 0.5rem !important;
}

.px-2 {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}

.py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.p-3 {
  padding: 1rem 1rem !important;
}

.pt-3 {
  padding-top: 1rem !important;
}

.pr-3 {
  padding-right: 1rem !important;
}

.pb-3 {
  padding-bottom: 1rem !important;
}

.pl-3 {
  padding-left: 1rem !important;
}

.px-3 {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.p-4 {
  padding: 1.5rem 1.5rem !important;
}

.pt-4 {
  padding-top: 1.5rem !important;
}

.pr-4 {
  padding-right: 1.5rem !important;
}

.pb-4 {
  padding-bottom: 1.5rem !important;
}

.pl-4 {
  padding-left: 1.5rem !important;
}

.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.p-5 {
  padding: 3rem 3rem !important;
}

.pt-5 {
  padding-top: 3rem !important;
}

.pr-5 {
  padding-right: 3rem !important;
}

.pb-5 {
  padding-bottom: 3rem !important;
}

.pl-5 {
  padding-left: 3rem !important;
}

.px-5 {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.hidden {
  display: none !important;
}

.invisible {
  opacity: 0 !important;
}

.avatar-round {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.input-group-addon.select {
  padding: 0;
}

.input-group-addon.select select {
  height: 32px;
  border: 0;
  background: #eee;
}
